<div id="star_<%= book.id %>"></div>
<script>
let elem<%= book.id %> = document.querySelector('#star_<%= book.id %>');
if (elem<%= book.id %> != null){
$(elem<%= book.id %>).on('turbolinks:load', function() {
  console.log("test")


  elem<%= book.id %>.innerHTML = "";
  let opt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: "<%= book.star %>",
    readOnly: true,
  };
  raty(elem<%= book.id %>, opt);
});}
</script>